@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

html {
    overflow-x: hidden;
}

* {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
}

.app {
    font-family: 'Avenir Next', monospace, sans-serif;
    height: 100vh;
}

body {
    background-color: #f0f0f0;
}