.main-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url('https://www.hotels.ru/content/images/essence/about_city/-2923066/poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    width: 90%;
}

@media screen and (max-width: 1000px) {
    .main {
        flex-direction: column;
        justify-content: flex-start;
    }
}