.openedicon-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    z-index: 4;
}

.box-main {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openedicon-box-close {
    color: #ffffff;
    margin: 10px;
    background-color: #c18080;
    padding: 7px;
    border-radius: 5px;
}

.openedicon-widget {
    width: 70%;
    background-color: #d34949;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    position: absolute;
    z-index: 5;
}

.openedicon-name{
    left: 0;
    margin: 10px;
    margin-bottom: 10px;
    color: rgb(89, 245, 102);
}

.openedicon-desc{
    margin: 10px;
    color: rgb(255, 255, 255);
}