.map-container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 15px;
}

.map {
    width: 800px;
    height: 800px;
    background: url('./map.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

@media screen and (max-width: 1000px) {
    .map {
        width: 400px;
        height: 400px;
        margin-top: 30px;
    }
    .map-container {
        height: 50%;
    }
}

.icon {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50px;
}


.icon:hover {
    width: 60px;
    height: 60px;
    margin: 10px;
}